In [2]:
import pandas as pd

df = pd.read_csv('student_bmi.csv')

In [5]:
weight_series=df.weight

In [8]:
df.columns

Index(['ID', 'LastName', 'FirstName', 'City', 'State', 'Gender',
       'StudentStatus', 'Major', 'Country', 'Age', 'SAT', 'AverageScore',
       'Height ', 'Newspaper_readership_times_per_wk', 'weight', 'bmi'],
      dtype='object')

In [15]:
#abit of programming
new_column_list = list()

for col in df.columns:
    new_column_list.append(col.strip())

In [16]:
new_column_list

['ID',
 'LastName',
 'FirstName',
 'City',
 'State',
 'Gender',
 'StudentStatus',
 'Major',
 'Country',
 'Age',
 'SAT',
 'AverageScore',
 'Height',
 'Newspaper_readership_times_per_wk',
 'weight',
 'bmi']

In [17]:
df.columns=new_column_list

In [25]:
height_sqrt=(df.Height *0.0254)*(df.Height*0.0254)

In [28]:
bmi_new=df.weight/height_sqrt

In [29]:
df['new_mbi']=bmi_new

In [31]:
df['Test']=''

In [32]:
df

,ID,LastName,FirstName,City,State,Gender,StudentStatus,Major,Country,Age,SAT,AverageScore,Height,Newspaper_readership_times_per_wk,weight,bmi,new_mbi,Test
0,1,DOE01,JANE01,Los Angeles,California,Female,Graduate,Politics,US,30,2263,67,61,5,50.1,20.87,20.869432,
1,2,DOE02,JANE02,Sedona,Arizona,Female,Undergraduate,Math,US,19,2006,63,64,7,51.1,19.34,19.337197,
2,3,DOE01,JOE01,Elmira,New York,Male,Graduate,Math,US,26,2221,78,73,6,52.1,15.15,15.153905,
3,4,DOE02,JOE02,Lackawana,New York,Male,Graduate,Econ,US,33,1716,78,68,3,53.1,17.80,17.799560,
4,5,DOE03,JOE03,Defiance,Ohio,Male,Graduate,Econ,US,37,1701,65,71,6,54.1,16.63,16.634630,
5,6,DOE04,JOE04,Tel Aviv,Israel,Male,Graduate,Econ,Israel,25,1786,69,67,5,55.1,19.03,19.025433,
6,7,DOE05,JOE05,Cimax,North Carolina,Male,Graduate,Politics,US,39,1577,96,70,5,56.1,17.75,17.745954,
7,8,DOE03,JANE03,Liberal,Kansas,Female,Undergraduate,Politics,US,21,1842,87,62,5,57.1,23.02,23.024240,
8,9,DOE04,JANE04,Montreal,Canada,Female,Undergraduate,Math,Canada,18,1813,91,62,6,58.1,23.43,23.427466,
9,10,DOE05,JANE05,New York,New York,Female,Graduate,Math,US,33,2041,71,66,5,59.1,21.03,21.029656,
10,11,DOE06,JOE06,Hot Coffe,Mississippi,Male,Undergraduate,Econ,US,18,1787,82,67,3,60.1,20.75,20.751879,
11,12,DOE06,JANE06,Java,Virginia,Female,Graduate,Math,US,38,1513,79,59,5,61.1,27.21,27.206317,
12,13,DOE07,JOE07,Varna,Bulgaria,Male,Graduate,Politics,Bulgaria,30,1637,79,63,4,62.1,24.25,24.251749,
13,14,DOE08,JOE08,Moscow,Russia,Male,Graduate,Politics,Russia,30,1512,70,75,6,63.1,17.39,17.387590,
14,15,DOE07,JANE07,Drunkard Creek,New York,Female,Undergraduate,Math,US,21,1338,82,64,5,64.1,24.26,24.256640,
15,16,DOE08,JANE08,Mexican Hat,Utah,Female,Undergraduate,Econ,US,18,1821,80,63,3,65.1,25.42,25.423331,
16,17,DOE09,JANE09,Amsterdam,Holland,Female,Undergraduate,Math,Holland,19,1494,75,60,3,66.1,28.46,28.459779,
17,18,DOE10,JANE10,Mexico,Mexico,Female,Graduate,Politics,Mexico,31,2248,95,59,4,67.1,29.88,29.877968,
18,19,DOE11,JANE11,Caracas,Venezuela,Female,Undergraduate,Math,Venezuela,18,2252,92,68,5,68.1,22.83,22.827684,
19,20,DOE09,JOE09,San Juan,Puerto Rico,Male,Graduate,Politics,US,33,1923,95,63,7,69.1,26.99,26.985441,
20,21,DOE12,JANE12,Remote,Oregon,Female,Undergraduate,Econ,US,19,1727,67,62,7,70.1,28.27,28.266186,
21,22,DOE10,JOE10,New York,New York,Male,Undergraduate,Econ,US,21,1872,82,73,4,71.1,20.68,20.680282,
22,23,DOE13,JANE13,The X,Massachusetts,Female,Graduate,Politics,US,25,1767,89,68,6,72.1,24.17,24.168517,
23,24,DOE14,JANE14,Beijing,China,Female,Undergraduate,Math,China,18,1643,79,65,6,73.1,26.82,26.817805,
24,25,DOE11,JOE11,Stockholm,Sweden,Male,Undergraduate,Politics,Sweden,19,1919,88,64,4,74.1,28.04,28.040828,
25,26,DOE12,JOE12,Embarrass,Minnesota,Male,Graduate,Econ,US,28,1434,96,71,4,75.1,23.09,23.091695,
26,27,DOE13,JOE13,Intercourse,Pennsylvania,Male,Undergraduate,Math,US,20,2119,88,71,5,76.1,23.40,23.399174,
27,28,DOE15,JANE15,Loco,Oklahoma,Female,Undergraduate,Econ,US,20,2309,64,68,6,77.1,25.84,25.844559,
28,29,DOE14,JOE14,Buenos Aires,Argentina,Male,Graduate,Politics,Argentina,30,2279,85,72,3,78.1,23.35,23.351706,
29,30,DOE15,JOE15,Acme,Louisiana,Male,Undergraduate,Econ,US,19,1907,79,74,3,79.1,22.39,22.389563,